

#tHeaderRow {
	background-color: #3c8dbc; 
	color: white;
}


.searchInput {
	width: 150px;

}

th.tblActionCol {
	width: 20%;
}

.boxMargin {
	margin-top: 50px;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.emptyArrayHeader {
    
    margin-top: 75px;

}

#formImgDiv {
margin-top: 25px; 

}


#formImgInput {
margin-top: 10px; 

}

